/.deps
/COPYING
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/uboot-env
/uboot-env-1.0.tar.xz
/uboot-env.o
